{% extends 'templates/pages/base1.html' %}
{% block dashboard %}

<div class="p-main">
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="d-flex flex-column gap-2">
            <h1>Update Agency Information</h3>
                <p class="dm-txt">
                    Manage all agency information seamlessly, track their activities, and oversee them in one place.
                </p>
        </div>

        <div class="">
            <div class="d-flex gap-2">
                <button class="pri-btn" style="padding: 13px 35px !important;" data-bs-toggle="modal"
                    data-bs-target="#agency-master-modal">
                    Create
                </button>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center gap-2">
            <span class="search">
                <img src="/assets/estate_app/img/search-blk.svg">
                <input type="search" class="form-control" placeholder="Search">
            </span>
            <div class="dropdown show w-100">
                <a class="form-control dropdown-toggle w-100 d-flex align-items-center" href="#" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>

                <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Select</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>

        <button class="filter-btn d-flex align-items-center justify-content-center">
            <img src="/assets/estate_app/img/filter.svg">
            <span>
                Filter
            </span>
        </button>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Agency</th>
                <th width="5%">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>fadsmumbai.mhpds@gov.in</td>
                <td>22226116</td>
                <td>Food,Civil Supplies And Consumer Protection Deputy Government of maharashatra. 8th floor,L.T. Marg
                    Mumbai MH Pin:400001</td>
                <td>MHFAD-Maharashtra Financial Advisor and Deputy Secretary</td>
                <td width="5%"><img src="/assets/estate_app/img/edit.svg"></td>
            </tr>
            <tr>
                <td>fadsmumbai.mhpds@gov.in</td>
                <td>22226116</td>
                <td>Food,Civil Supplies And Consumer Protection Deputy Government of maharashatra. 8th floor,L.T. Marg
                    Mumbai MH Pin:400001</td>
                <td>MHFAD-Maharashtra Financial Advisor and Deputy Secretary</td>
                <td><img src="/assets/estate_app/img/edit.svg"></td>
            </tr>
            <tr>
                <td>fadsmumbai.mhpds@gov.in</td>
                <td>22226116</td>
                <td>Food,Civil Supplies And Consumer Protection Deputy Government of maharashatra. 8th floor,L.T. Marg
                    Mumbai MH Pin:400001</td>
                <td>MHFAD-Maharashtra Financial Advisor and Deputy Secretary</td>
                <td><img src="/assets/estate_app/img/edit.svg"></td>
            </tr>
            <tr>
                <td>fadsmumbai.mhpds@gov.in</td>
                <td>22226116</td>
                <td>Food,Civil Supplies And Consumer Protection Deputy Government of maharashatra. 8th floor,L.T. Marg
                    Mumbai MH Pin:400001</td>
                <td>MHFAD-Maharashtra Financial Advisor and Deputy Secretary</td>
                <td><img src="/assets/estate_app/img/edit.svg"></td>
            </tr>
            <tr>
                <td>fadsmumbai.mhpds@gov.in</td>
                <td>22226116</td>
                <td>Food,Civil Supplies And Consumer Protection Deputy Government of maharashatra. 8th floor,L.T. Marg
                    Mumbai MH Pin:400001</td>
                <td>MHFAD-Maharashtra Financial Advisor and Deputy Secretary</td>
                <td><img src="/assets/estate_app/img/edit.svg"></td>
            </tr>
        </tbody>
    </table>


</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="agency-master-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Form on JC Agency Master</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" id="form" action="/update-agency-info">
                <div class="d-flex gap-2">
                    <div class="col-4" style="border: 1px solid #EAECF0; border-radius: 8px; padding: 12px;">
                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                Indentor First Name
                            </label>
                            <input type="text" class="form-control" id="indentor_first_name" name="indentor_first_name"
                                placeholder="First name">
                        </div>

                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                Indentor Last Name
                            </label>
                            <input type="text" class="form-control" id="indentor_last_name" name="indentor_last_name"
                                placeholder="Last name">
                        </div>
                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                Agency Code
                            </label>
                            <input type="text" class="form-control" id="agency_code" name="agency_code"
                                placeholder="Agency Code">
                        </div>
                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                Agency Name
                            </label>
                            <input type="text" class="form-control" id="agency_name" name="agency_name"
                                placeholder="Agency Name">
                        </div>

                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                Pan No.
                            </label>
                            <input type="text" class="form-control" id="pan_no" name="pan_no" placeholder="Pan No.">
                        </div>
                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                Tan No.
                            </label>
                            <input type="text" class="form-control" id="tan_no" name="tan_no" placeholder="Tan No.">
                        </div>
                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                GST
                            </label>
                            <input type="text" class="form-control" id="gst" name="gst" placeholder="GST">
                        </div>
                        <div class="d-flex flex-column align-items-start gap-2 mb-2">
                            <label class="fw-medium">
                                TDS GST
                            </label>
                            <input type="text" class="form-control" id="tds_gst" name="tds_gst" placeholder="TDS GST">
                        </div>
                    </div>
                    <div class="col-8" style="border: 1px solid #EAECF0; border-radius: 8px; padding: 12px;">
                        <div class="d-flex mb-4 gap-2">
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Address 1
                                </label>
                                <input type="text" class="form-control" id="address_1" name="address_1"
                                    placeholder="Address 1">
                            </div>
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Address 2
                                </label>
                                <input type="text" class="form-control" id="address_2" name="address_2"
                                    placeholder="Address 2">
                            </div>

                        </div>
                        <div class="d-flex mb-4 gap-2 ">

                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    City
                                </label>
                                <input type="text" class="form-control" id="city" name="city" placeholder="City">
                            </div>
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    State
                                </label>
                                <input type="text" class="form-control" id="state" name="state" placeholder="State">
                            </div>
                        </div>
                        <div class="d-flex mb-4 gap-2 ">
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Pin
                                </label>
                                <input type="text" class="form-control" id="pin" name="pin" placeholder="Pin">
                            </div>

                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Branding Req.
                                </label>
                                <input type="text" class="form-control" id="branding_req" name="branding_req"
                                    placeholder="Branding Req.">
                            </div>
                        </div>
                        <div class="d-flex mb-4 gap-2 ">
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Email
                                </label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>

                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Phone
                                </label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="d-flex mb-4 gap-2 ">
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Mobile 1
                                </label>
                                <input type="text" class="form-control" id="mobile" name="mobile"
                                    placeholder="Mobile 1">
                            </div>

                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Fax
                                </label>
                                <input type="text" class="form-control" id="fax" name="fax" placeholder="Fax">
                            </div>
                        </div>
                        <div class="d-flex mb-4 gap-2">
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Contact Person
                                </label>
                                <input type="text" class="form-control" id="contact_person" name="contact_person"
                                    placeholder="Contact Person">
                            </div>

                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    Contact Person Phone
                                </label>
                                <input type="text" class="form-control" id="contact_person_phone"
                                    name="contact_person_phone" placeholder="Contact Person Phone">
                            </div>
                        </div>
                        <div class="d-flex mb-4 gap-2 ">
                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    GST Contact Person
                                </label>
                                <input type="text" class="form-control" id="gst_contact_person"
                                    name="gst_contact_person" placeholder="GST Contact Person">
                            </div>

                            <div class="d-flex flex-column align-items-start gap-2 w-50">
                                <label class="fw-medium">
                                    GST Contact Person No.
                                </label>
                                <input type="text" class="form-control" id="gst_contact_person_no"
                                    name="gst_contact_person_no" placeholder="GST Contact Person No.">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn sec-btn mt-3" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn pri-btn mt-3">Create</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="/assets/estate_app/js/update_agency_info/script.js"></script>
{% endblock %}